@model IEnumerable<FunTODOWebSite.Models.Entity.TodoListViewModel>
@{
    ViewData["Title"] = "TodoList";
}
<head>
    <link rel="stylesheet" href="~/css/todo-card.css" />
</head>
<h1>TodoList</h1>
<div class="jumbotron">
    <div class="card-columns">
        @foreach (var todolist in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">@todolist.todoTitle</h4>
                    <ul class="list-group">
                        @foreach (var item in todolist.todoList)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @item.TextValue
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        }

    </div>
</div>
